*{
    padding: 0;
    margin: 0;
}
h1{
    color:rgb(17, 0, 128);
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
}
.main{
    display: grid;
    box-shadow: rgba(119, 180, 226, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width:17%;
    padding:50px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap:10px;
    margin-top: 2%;
    
}
.main>div{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    height:50px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
.cal1{
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 1;
   grid-column-end: 5;
   
}
.black{
    background-color: black;
    color:white;
}
/* .aman{
    grid-column-start: 1;
    grid-column-end: 2;
}
.bablu{
    grid-column-start: 4;
    grid-column-end: 5;
} */